body{
font-family: Arial;
background:#0b0f1a;
color:white;
margin:0;
}

header{
background:linear-gradient(135deg,#1e3c72,#2a5298);
padding:80px 20px;
text-align:center;
}

header h1{
font-size:40px;
margin-bottom:10px;
}

header p{
font-size:18px;
}

.buttons a{
display:inline-block;
padding:12px 20px;
background:white;
color:black;
text-decoration:none;
border-radius:6px;
margin-top:15px;
}

section{
padding:60px 80px;
}

h2{
text-align:center;
margin-bottom:30px;
}

.tools ul{
text-align:center;
list-style:none;
}

.tools li{
margin:8px;
}

.graph-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.graph-card{
background:#1c1c2e;
padding:20px;
border-radius:10px;
text-align:center;
}

.graph-card img{
width:420px;
border-radius:8px;
}

.prediction-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.prediction-card{
background:#1c1c2e;
padding:20px;
border-radius:10px;
text-align:center;
}

.prediction-card img{
width:300px;
border-radius:8px;
}

footer{
text-align:center;
padding:30px;
background:#111;
}
